@font-face {
    font-family: 'TTHakgyoansimUndongjangL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimUndongjangL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

#Logo a {
    display: block;

}

#Logo img {
    width: 100px;
    padding-top: 20px;
}

/* reset */
ul#Gnb {
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
}

ul#Gnb li {
    font-family: 'TTHakgyoansimUndongjangL';
}

ul#Gnb li a:hover {
    color: rgb(3, 215, 252) !important;
    transition: .5s;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.searchresult {

    border-radius: 30px;
    /* height: 400px; */
    /* padding-top: 40px; */
    max-width: 300px;
    width: 300px;

}

.searchresult strong {
    font-size: 1.5em;

}

.searchresult p {
    font-size: 1.1em;
    font-family: 'TTHakgyoansimUndongjangL';
}

.searchresult h2 {
    font-family: 'TTHakgyoansimUndongjangL';
    font-size: 1.5em;
}

.mybtn {
    background-color: black !important;
    color: white !important;
}

/* 날씨의 상태에 따라 .searchresult의 배경색을 변경함 */
.searchresult.bg01d,
.searchresult.bg01n {
    background-color: RGB(135, 206, 235);
}

.searchresult.bg02d,
.searchresult.bg02n {
    background-color: RGB(173, 216, 230);
}

.searchresult.bg03d,
.searchresult.bg03n {
    background-color: RGB(196, 215, 222);
}

.searchresult.bg04d,
.searchresult.bg04n {
    background-color: RGB(209, 209, 209);
}

.searchresult.bg09d,
.searchresult.bg09n {
    background-color: RGB(187, 187, 187);
}

.searchresult.bg10d,
.searchresult.bg10n {
    background-color: RGB(153, 153, 153);
}

.searchresult.bg11d,
.searchresult.bg11n {
    background-color: RGB(108, 122, 137);
}

.searchresult.bg13d,
.searchresult.bg13n {
    background-color: RGB(255, 250, 250);
}

.searchresult.bg50d,
.searchresult.bg50n {
    background-color: RGB(224, 224, 224);
}



/* ----------------------------------------------- */
ul.recenttag {
    align-items: center;
    list-style: none;
    padding: 0 0;
    z-index: 9999;


}

ul.recenttag>li {
    cursor: pointer;
    display: block;
    border-radius: 20px;
    height: 40px;
    background-color: black;
    width: 100px;
    margin-right: 10px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-bottom: 10px
}

.examplebtn {
    position: fixed;
    top: 200px;
    z-index: 9999;
}

.weatherswiper {

    margin-top: 50px;
}

.swiper-slide .searchresult {
    max-height: 400px !important;
    word-break: keep-all;
}

#result {
    position: absolute;
    top: 30% !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    max-height: 400px;
    z-index: 5000;
    margin: auto;
    padding-top: 30px;

}

body.dim::after {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 4999;
}

.closebtn {
    cursor: pointer;
}

#Contact {
    list-style: none;
}

.portFolio ul {
    list-style: none;
}

.portFolio img {
    width: 200px;
}

#pinterest {
    column-width: 350px;
    column-gap: 15px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    height: 0;
    overflow: hidden;
}

#pinterest.show {
    opacity: 1;
    height: auto;
}

#pinterest figure {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    ;
}

#pinterest figure img {
    width: 100%;
}


.searchselect {
    height: 30.5px;
}