#Logo a {
    display: block;
    max-width: 146px !important;
    width: 30vw;
}

#Logo a::after {
    content: "";
    display: block;
    height: 0;
    padding-top: 120px;
    background-image: url(https://i.ibb.co/cvfhfGB/wlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* reset */
ul#Gnb {
    list-style: none;
    font-size: 20px;
    padding-top: 30px;
}

ul#Gnb li a:hover {
    color: rgb(3, 215, 252) !important;
    transition: .5s;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.searchresult {
    background-color: #ccc;
    border-radius: 30px;
    height: 400px;
    padding-top: 40px;
    width: 300px;
}

.mybtn {
    background-color: black !important;
    color: white !important;
}

.myform input {}